body {
    background-image: URL(pexels-pixabay-373076.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.team-heading {
    background-color: rgb(61, 61, 61);
    color: white;
}

.card-header {
    background-color: royalblue;
    color: white;
}

.employee-card {
    margin: 20px;
    box-shadow: 5px 5px 5px 5px #a9a1a1;
}