body {
    background-image: URL(./images/pexels-pixabay-373076.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.team-heading {
    background-color: rgb(61, 61, 61);
    color: white;
}

.card-header {
    background-color: royalblue;
    color: white;
}

.employee-card {
    margin: 20px auto;
    box-shadow: 5px 5px 5px 5px #a9a1a1;
    width: 250px;
}

.d-flex {
    display: contents!important;
}